body {
    background-image: url("images/background.png");
    background-repeat: none;
    background-position: center;
    height: 100vh
}

.main {
    margin-top: 300px;
}

b {
    font-weight: bold;
}

b,
span {
    font-family: 'Poppins';
    padding-top: 20px;
    display: inline-block;
}

.content {
    padding-bottom: 20px;
}

.cep-titulo {
    padding-bottom: 20px;
    text-align: center;
    font-size: 27px;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
}

.input-container {
    text-align: center;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
}

.result-container {
    background-color: white;
    max-width: 430px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.erro {
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
    color: red;
    font-weight: bold;
}

.gps-img {
    height: 10vh;
    margin: 0 auto;
    float: left;
    padding-bottom: 27px;
    padding-top: 29px;
    padding-right: 0px;
    padding-left: 21px;
    display: inline-block;
}

.inputCep {
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 10px;
    margin-left: 50px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;
    background: none;
}

.inputCep:focus {
    outline: none;
}

.btnCep {
    color: white;
    width: 80px;
    height: 36px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Poppins';
    background: none;
    font-weight: bold;
}

.btnCep:hover {
    cursor: pointer;
    background-color: #ccc;
    transition: 0.3s;
}

@media (max-width: 450px) {
    .inputCep {
        height: 33px;

        margin: 0 auto;
    }

    .btnCep {
        margin: 0 auto;
        margin-top: 10px;
    }

    .result-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .loader {
        top: 55%;
        left: 48%;
        margin: 0 auto;
    }
}